body{
	background-color: rgb(230, 230, 220);
	color: rgb(180, 160, 140);
}

.head {
	color: rgb(90, 180, 160);
	font-size: 60px;
	}

.h1 {
	font-weight: bold;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	line-height: 20px;
	letter-spacing: 3px;
}

.h1 strong{
}

.h2 {
	font-weight: bold;
	padding-left: 140px;
	letter-spacing: 3px;
}

.h3 {
	width: 400px;
	line-height: 50px;
	transform: rotate(90deg);
	font-family: "Roboto Slab";
	font-weight: bold;
	margin-top: 20px;
	letter-spacing: 3px;
	height: 600px;
	margin-left: auto;
	margin-right: auto;

}
.h4 {
	padding-left: 340px;
	letter-spacing: 3px;
}
.h5 {
	font-family: "Roboto Slab";
	font-size: 20px;
	font-weight: bold;
	padding-left: 440px;
	letter-spacing: 3px;
}
