.head {
	font-size: 52px;
	margin: auto;
	padding-bottom: 200px;
	float: right;
	text-transform: uppercase;
	position: fixed;
	color: blue;
}
.h1 {
	float: none;
	height: 50%;
	line-height: 30px;
	}
.h2 {
	height: 50%;
	letter-spacing: 3px;
}
.h3 {
	height: 50%;
	float: none;
	line-height: 30px;
}
.h4{
	letter-spacing: 6px;
	background: grey;
	color: white;
}
	
