*{
	background:#D4A190;
	}
	
.head {
	margin: auto;
	padding-bottom: 20px;
	text-align: center;
	font-size: 56px;
	position: fixed;
	width: 50%;
	text-align: center;
}

.h1 {
	height: 50%;
	font-family: sans-serif;
	letter-spacing: 30px;
	line-height: 30px;
	text-align: center;
	}
.h2 {
	height: 50%;
	font-family: sans-serif;
	letter-spacing: 20px;
	line-height: 30px;
	text-align: center;
}
.h3 {
	height: 50%;
	font-family: sans-serif;
	line-height: 40px;
	border: dotted;
	float: right;
}
.h4{
	font-family: sans-serif;
	line-height: 40px;
	border: dotted;
	height: 50%;
	float: left;
}
