.head {
	float:left;
	height:auto;
	padding-left:140px;
	border-bottom:300px;
}
.h1 {
	padding-left:140px;
	padding-top:200px;
	border-bottom:80px;
	}
.h2 {
	margin-top:30;
	padding-left:140px;
}
.h3 {
	padding-left:140px;
}
.h4 {
	padding-left:140px;
}
.h5 {
	padding-left:140px;
}
