ul{
	line-height: 3em;
	list-style: none;
	font-size: 20px;
	color: white;
	text-align: center;
	
	font-family: Helvetica;
}
h1{


	font-size: 36px;
	text-align: center;
}

a{
  text-decoration : none
}

a:link{
  color:white;
}

body{
	font-family: Helvetica;
text-align: center;
	color: white;
	font-weight: bold;
  background: url('./BS0018.JPG');
  background-size:100%;
}


.a li{
	float:left;
	width:32%;
	border-style: solid;
	border-width: 2px;

}

.b{
	width: 80%;
}

.c{
}

.d{
	width: 80%;
}
a:visited { 
color:white; 
text-decoration:none; 
} 
