ul{
  line-height: 2em;
  list-style: none;
  text-align: center;
  font-size: 20px;
  color:black;
}
h1{
  text-align: center;
  color: white;
}

a{
  text-decoration : none
}

a:link{
  color:black;
}

body{
  background: url('http://www.pulsarwallpapers.com/data/media/3/Alien%20Ink%202560X1600%20Abstract%20Background.jpg');
}
